<div class = "main-container">
    <div id="header">
        <img class="ub_logo" src="/mltoolkit/assets//University_at_Buffalo_logo.svg.png"/>
        <div class = "header-left">
            <img class="nsf_logo" src="/mltoolkit/assets//nsf_logo.png"/>
            <p class="made_logo"> MaDE@UB Machine Learning Toolkit </p>
        </div>
    </div>
    <div class = "quick-intro">
        <div class = "right-text">
            <div class = "text-title">
                <div style="display: inline-block;">ML</div> Toolkit
            </div>
            <div class = "text-subtitle">
                Materials Data Engineering @ UB
            </div>

            <div class = "tabs_container">
                <div class="tab">
                    <button class="tablinks active" (click)="openTab($event, 'About')">About</button>
                    <button class="tablinks" (click)="openTab($event, 'Tutorials')">Tutorials</button>
                    <button class="tablinks" (click)="openTab($event, 'Contribute')">Contribute</button>
                </div>
                
                <div id="About" style = "display:block" class="tabcontent">
                    <h3>About</h3>
                    <p class = "tab_text">ML Toolkit provides an online web interface for designing Machine Learning (ML) models, by effectively eliminating the requirement of in-depth programming knowledge. With the new web UI for ML Toolkit the user can visualize a machine learning pipeline with an easy to use drag-and-drop option.</p>
                    <a href="https://madeatub.buffalo.edu/news/49-machine-learning-toolkit-news"><p class = "tab_btn">Read More</p></a>
                </div>
                
                <div id="Tutorials" class="tabcontent">
                    <h3>Tutorials</h3>
                    <p class = "tab_text">Read the project docs, examples and tutorials. Also visit sckit-learn tutorials to understand ML terminologies.</p>
                    <p class = "tab_btn">Project Tutorials</p> 
                </div>
                
                <div id="Contribute" class="tabcontent">
                    <h3>Contribute</h3>
                    <p class = "tab_text">This is an open source project. To contribute to this project go to the github repository. MLToolkit is built over ChemML which inturn uses sckit-learn, RDKit, Tensorflow, etc.
                    </p>
                    <a href="https://www.github.com/bhavinjawade/MLToolkit"><p class = "tab_btn">Github Repository</p></a>
                </div>
                </div>
            </div>

            <div class = "left-image">
            <img class = "ml-image" src = "/mltoolkit/assets//graph_draw.png"/>
            <div class = "gotobtn" (click)="sendToPortal()">Get Started</div>
            </div>
    </div>
    <app-global-footer></app-global-footer>
</div>