
/* Style the tab */
.tab {
    overflow: hidden;
    background-color: white;
    color: #565656;
    padding-left: 2%;
    border-bottom: 2px solid #cccccc;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    color: #565656;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    border-radius: 0px;
    transition: 0.3s;
    font-size: 1.2em;
    padding-left: 4%;
    width: 32%;
    padding-right: 4%;
    font-weight: 800;
    border-bottom: 5px solid white;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: inherit;
    float: left;
    border: none;
    color: #565656;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    border-radius: 0px;
    transition: 0.3s;
    font-size: 1.2em;
    padding-left: 4%;
    width: 32%;
    padding-right: 4%;
    font-weight: 800;
    border-bottom: 5px solid #217CE8;
  }
  
  .tab_btn{
    font-size: 1.5em;
    width: fit-content;
    border: 3px solid #0071ff;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 13px;
    color: #0071ff;
    font-weight: 600;
    margin-top: 3%;
    cursor:pointer;
    transition: 0.5s;
  }

  .tab_btn:hover{
    font-size: 1.5em;
    width: fit-content;
    border: 3px solid #0071ff;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 13px;
    background-color: #0071ff;
    color:white;
    font-weight: 600;
    margin-top: 3%;
  }

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: inherit;
    float: left;
    border: none;
    color: #565656;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    border-radius: 0px;
    transition: 0.3s;
    font-size: 1.2em;
    padding-left: 4%;
    width: 32%;
    padding-right: 4%;
    font-weight: 800;
    border-bottom: 5px solid #217CE8;
  }

  .tab_text{
    font-family: 'Roboto';
    font-size: 1.3em;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    background-color: white;
    padding-top: 3%;
  }

.links{
    clear:both;
}

.portal{
    display: inline-block;
    width: calc(88% / 3);
    margin: 2%;
    font-family: Roboto;
    height: 200px;
    background-color: #ffffff;
    border: 5px solid #217CE8 !important;
    padding: 1%;
    padding-top: 4%;
    padding-left: 1%;
    padding-bottom: 8%;
    text-align: -webkit-center;
    padding-right: 1%;
    color: black;
}


.link-block-text{
    font-size: 1.4em;
    font-weight: 800;
    text-align: center;
    background-color: #217CE8;
    width: fit-content;
    text-align: -webkit-center;
    padding: 1%;
    border-radius: 32px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 3%;
    color: white;
}

.link-block{
    display: inline-block;
    width: calc(85% / 3);
    margin: 2%;
    margin-top: 0%;
    margin-left: 50px;
    font-family: Roboto;
    height: 200px;
    background-color: white;
    border: 1px solid #e2e2e2;
    border-radius: 60px;
    padding: 1%;
    padding-top: 4%;
    padding-left: 1%;
    padding-bottom: 8%;
    text-align: -webkit-center;
    padding-right: 1%;
    box-shadow: 1px 3px 20px -4px #e2e2e2;
    cursor: pointer;
}

.link-block:hover{
    display: inline-block;
    width: calc(85% / 3);
    margin: 2%;
    margin-top: 0%;
    margin-left: 50px;
    font-family: Roboto;
    height: 200px;
    background-color: white;
    border: 1px solid #e2e2e2;
    border-radius: 60px;
    padding: 1%;
    padding-top: 4%;
    padding-left: 1%;
    padding-bottom: 8%;
    text-align: -webkit-center;
    padding-right: 1%;
    box-shadow: 2px 0px 21px 2px #848484bd;    
    cursor: pointer;
}

.tabs_container{
    padding: 0%;
    padding-right: 2%;
    margin-top: 7%;
    background-color: white;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 1px 2px 25px #e2e2e2;
    padding-top: 2%;
    width: 59em;
}

.gotobtn{
    font-size: 1.5em;
    width: fit-content;
    border: 5px solid white;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 13px;
    color: #0071ff;
    font-weight: 600;
    margin-top: 3%;
    cursor:pointer;
    transition: 0.5s;
    position: absolute;
    bottom: 11%;
    right: 3%;
    color: #0071ff;
    background-color: white;
    box-shadow: 3px 2px 12px -3px #525252;
}

a:hover{
    text-decoration: none;
    color:white;
}

.gotobtn:hover{
    font-size: 1.5em;
    width: fit-content;
    border: 5px solid white;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 13px;
    color: #0071ff;
    font-weight: 600;
    margin-top: 3%;
    cursor:pointer;
    transition: 0.5s;
    position: absolute;
    bottom: 11%;
    right: 3%;
    color: white !important;
    background-color: #0071ff;
    box-shadow: 3px 2px 12px -3px #525252;
}

h3 {
    margin-bottom: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.ml-image{
    width: 70% !important;
    margin: 29%;
    margin-top: 15%;
}

.main-container{
    background-image: url('../../assets/home_page_bkg_2.png');
    background-size: cover;
    background-position: center right;
    height: 100%;
    width: 100%;
}

.left-image{
    display: inline-block;
    float: left;
}


.right-text{
    display: inline-block;
    float: left;
    padding: 2%;
    margin: 3%;
    margin-top: 0%;
}

.text-title{
    color: #565656;
    font-size: 6em;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 500;
}

.text-subtitle{
    font-size: 3.4em;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    background-color: #565656;
    color: white;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
}

.text-info{
    font-family: Roboto;
    font-size: 1.2em;
    margin-top: 5%;
    padding-right: 7%;
    text-align: justify;
}

#header {
    padding: 1%  !important;
    padding-left: 2%  !important;
    padding-right: 2%  !important;
    background-color: white  !important;
    border-bottom: 1px solid #e2e2e2  !important;
    z-index: 1000 !important;
}

.ub_logo{
    width: 8% !important;
    display: inline-block  !important;    
}

.made_logo{
    display: inline-block !important;
    float: right !important;
    margin: 0 !important;
    margin-top: 0% !important;
    font-family: Roboto !important;
    font-weight: 800 !important;
    font-size: 1.3em !important;
    color: #393c44 !important;
    width: 108% !important;
    padding-left: 5% !important;
    border-left: 2px solid #d4d4d4 !important;
}

.nsf_logo{
    width: 65px !important;
    position: absolute !important;
    top: -12px !important;
    left: -101px !important;
    padding-right: 10px !important;
}

.header-left{
    display: inline-block;
    float: right;
    position: relative;
}