<div class = "main-container">
    <div id="header">
        <img class="ub_logo" src="../../assets/University_at_Buffalo_logo.svg.png"/>
        <div class = "header-left">
            <img class="nsf_logo" src="../../assets/nsf_logo.png"/>
            <p class="made_logo"> MaDE@UB Machine Learning Toolkit </p>
        </div>
    </div>
    <div class = "quick-intro">
        <div class = "left-image">
            <img class = "ml-image" src = "../../assets/mlflow.PNG"/>
        </div>
        <div class = "right-text">
            <div class = "text-title">
                Machine Learning Toolkit
            </div>
            <div class = "text-subtitle">
                Materials Data Engineering @ UB
            </div>
            <div class = "text-info">
                An easy-to-use GUI has been developed to reduce the time it takes to build prototypes for ML models as well as experiment with various feature extraction methods available. Further, plug-and-play-style interactions for the different blocks associated with a typical ML pipeline via a graphical representation with directed edges make the GUI intuitive to use and easy to learn.
            </div>
        </div>
    </div>
    <div class = "links">
        <div class = "link-block about">
            <div class = "link-block-text">
                About
            </div>
            <div class = "link-block-subtext">
                About Made at Machine Learning Toolkit
            </div>
        </div>
        <div class = "link-block faq-help">
            <div class = "link-block-text">
                FAQ/Help
            </div>
            <div class = "link-block-subtext">
                Get quick help regarding most frequent asked questions about toolkit.
            </div>
        </div>
        <div (click) = "sendToPortal()" class = "link-block portal">
            <div class = "link-block-text">
                Get Started
            </div>
            <div class = "link-block-subtext">
                Go ML Toolkit Portal
            </div>
        </div>

    </div>
    <app-global-footer></app-global-footer>

</div>