<div class = "main-container">
    <div class = "title">Project Properties</div>
    <div class = "body">
        <div class = "proprow">
            <label class = "label project_name_label">Name</label>
            <input class = "input_tag project_name"/>
        </div>
        <div class = "proprow">
            <label class = "label project_desc_label">Description</label>
            <textarea class = "input_tag project_desc"></textarea>
        </div>
        <div class = "proprow">
            <label class = "label tags">Tags</label>
        </div>
    </div>
    <div class = "footer">
        <button class="cancel" (click)="closeBox();">Cancel</button>
        <button class="save">Save Changes</button>
    </div>
</div>
