<div class ="overlay"></div>
<div class = "np-box-container">
    <div class="title">Select a project</div>
    <div class = "btm_container">
        <div id="search">
            <img src="assets/search.svg">
            <input type="text" placeholder="Search Pipeline Toolbox">
        </div>
        <div class = "project_list_container">
            <div class = "project_list_item">My Project 1</div>
            <div class = "project_list_item">My Project 2</div>
            <div class = "project_list_item">My Project 3</div>
            <div class = "project_list_item">My Project 4</div>
        </div>
        <div class = "submit-btn" (click)="createProject()">Open Project</div>
        <div class = "close-btn" (click)="closeBox()">Cancel</div>
    </div>
</div>