    <div id="propwrap" *ngIf="show">
        <div id="properties">
            <div id="close" (click) = "show = false">
                <img src="assets/close.svg">
            </div>
            <div id="header2">
                    <p id="tooltype"> {{tooltype | uppercase}} </p>
                    <div> Properties </div> 
            </div>
            <div id="propswitch">
                <div id="dataprop">Data</div>
                <div id="alertprop">Preview</div>
                <div id="logsprop">Logs</div>
            </div>
            <div id="proplist">
                <!-- <p class="inputlabel">Select file</p>
                    <input type="file" id="csv_load" hidden multiple/> 
                    <div class="select_file_btn" 
                        onclick="document.getElementById('csv_load').click()" 
                        type="file" id="myfile" name="myfile" >Select File</div>
                <br><br>
                <table id = "table_preview">
                </table> -->
            <div class = "paramContainer" *ngFor="let param of parameterList">
                <div class = "paramName"> {{param.name | titlecase}} </div>
                <div class = "paramInput" *ngIf="param.param_type[0] == 'object'">
                    <input type="file" id="csv_load" hidden multiple/> 
                    <div id = "input_filename">
                        Select a CSV file. 
                    </div> 
                    <div class="select_file_btn" onclick="document.getElementById('csv_load').click()" type="file" id="myfile" name="myfile">Select File</div>
                       
                    <p id="filename"></p>
                </div>
                <div class = "paramInput" *ngIf="param.param_type[0] != 'object'">
                    <input placeholder = "{{param.default_value}}" class = "input_text" type="text"/>
                </div>
            </div>
            
            </div>

            <div id="divisionthing"></div>
        
            <div id="removeblock">Visualize Output From Node</div>
            <div id="visualize_btn" (click) = "show = false">Done</div>

        </div>
    </div>