    <div id="propwrap" *ngIf="show">
        <div id="properties">
            <div id="close" (click) = "show = false">
                <img src="assets/close.svg">
            </div>
            <div id="header2">
                    <p id="tooltype"> {{tooltype | uppercase}} </p>
                    <div> Properties </div> 
            </div>
            <div id="propswitch">
                <div id="dataprop">Data</div>
                <div id="alertprop">Preview</div>
            </div>
            <div id="proplist">
                <!-- <p class="inputlabel">Select file</p>
                    <input type="file" id="csv_load" hidden multiple/> 
                    <div class="select_file_btn" 
                        onclick="document.getElementById('csv_load').click()" 
                        type="file" id="myfile" name="myfile" >Select File</div>
                <br><br>
                <table id = "table_preview">
                </table> -->
            <div class = "config-block">
                <div class="config-title">Node Type</div>
                <div class="node-function-name" *ngFor="let param of nodes; let i = index;" [ngClass]="select_node_type==i ? 'selected_button' : ''" id="node_{{i}}'" [attr.value]="param.name" (click) = "selectNodeType(i,param.name)">{{param.name}}</div>
            </div>
            <!--
                <div class = "paramName"> {{param.name | titlecase}} </div>
                <div class = "paramInput" *ngIf="param.param_type[0] == 'object'">
                    <input type="file" id="csv_load" hidden multiple/> 
                    <div id = "input_filename">
                        Select a CSV file. 
                    </div> 
                    <div class="select_file_btn" onclick="document.getElementById('csv_load').click()" type="file" id="myfile" name="myfile">Select File</div>
                       
                    <p id="filename"></p>
                </div>
                <div class = "paramInput" *ngIf="param.param_type[0] != 'object'">
                    <input placeholder = "{{param.default_value}}" class = "input_text" type="text"/>
                </div>
                -->
            <div class="config-block">            
                <div class="config-title">Class Type</div>
                <div class="node-function-name" *ngFor="let param of filter_methods(); let i = index;" id="class_method_{{i}}" [ngClass]="select_method_type==i ? 'selected_button' : ''" [attr.value]="param.name" (click) = "selectClassMethod(i,param.name)">{{param.name}}</div>
            </div>

            <div class="config-block">            
                <div class="config-title">Base Parameters</div>
                <div class="base_parameters_container" *ngFor="let param of input_parameters; let i = index;">
                    <div class="parameter_name">{{param.name | titlecase}} &nbsp; <a class="tooltip" href="#">?<div class = "tooltiptext">{{param.docstring}}</div></a></div> 
                        <div *ngIf="param.param_type[0] == 'object' || param.name == 'Filepath_or_buffer'" style="width: 105%;">
                            <div class="node-function-name" *ngFor="let file of csvFiles; let file_index = index;" [ngClass]="select_file==file_index ? 'selected_button' : ''" id="file_{{file_index}}'" [attr.value]="file.file_name" (click) = "selectFileType(param.name,file,file_index)">{{file.file_name}}</div>
                            <!-- <input type="file" id="csv_load" (change) = "getParameterValue($event,param.name)" value="./temp/Boston.csv" hidden multiple/> 
                            <div id = "input_filename">
                                Select a CSV file.
                            </div> 
                            <div class="select_file_btn" onclick="document.getElementById('csv_load').click()" type="file" id="myfile" name="myfile">Select File</div>   
                            <p id="filename"></p> -->
                    </div>
                    <div class = "paramInput" *ngIf="param.param_type[0] != 'object' && param.name !='file_path'">
                        <input class="input_text" (focusout) = "getParameterValue($event,param.name)" [placeholder] = "param.default_value != null ? param.default_value : 'Enter Value'" type="text" id="parameter_{{i}}" />
                    </div>
                    <div class = "paramInput" *ngIf="param.name =='file_path'">
                        <input class="input_text" (focusout) = "getParameterValue($event,param.name)" [placeholder] = "param.default_value != null ? param.default_value : 'Enter Value'" type="text" id="parameter_{{i}}" />
                    </div>
                </div>
            </div>

            </div>
            
            <div class="tool-config-footer">        
            <div id="removeblock" (click) = "visualizeOutput()">Visualize Output From Node</div>
            <div id="visualize_btn" (click) = "saveConfig()">Done</div>
            </div>
        </div>
    </div>
    <app-visualize-main [project_name] = "project_name" (closeBoxEmit)="show_visualize=false;" *ngIf="show_visualize" [preselected_file]="selected_file"></app-visualize-main>
