<div class="landingPage">
    <div id="header">
        <img class="ub_logo" src="/mltoolkit/assets//University_at_Buffalo_logo.svg.png"/>
        <div class = "header-left">
            <img class="nsf_logo" src="/mltoolkit/assets//nsf_logo.png"/>
            <p class="made_logo"> MaDE@UB Machine Learning Toolkit </p>
        </div>
    </div>

    <div id="navigation">
        <div id="leftside">
            <div id="details">
            <div id="back"><img src="assets/arrow.svg"></div>
            <div id="names">
                <p id="title">Toolkit Toolbar</p>
                <p id="subtitle">Portal</p>
            </div>
        </div>            
        </div>
        <nav-button description="New Project" class="button" (callFunction)="newProject($event)" ></nav-button>
        <div id="buttonsright">
            <div id="publish" (click)="openProject()">Open Selected Project</div>
        </div>
    </div>

    <div class="projects">
        <div class ="table-container">
        <div class="header-container">
            <div class = "table-item-header">Project Name</div>
            <div class = "table-item-header project_desc" style="width:25.4%">Project description</div>
            <div class = "table-item-header">Created Date</div>
            <div class = "table-item-header project_author">Author</div>
            <div class = "table-item-header project_tags">Tags</div>
            <div class = "table-item-header project_icons">Delete</div>
            <div class = "table-item-header project_icons">Duplicate Project</div>
        </div>
        <div class="table-body">
        <div *ngFor="let project of renderList; let i = index"  [attr.data-index]="i" id="project_{{i}}" (dblclick)="openProject();" (click)="selectProject('project_'+i, project)" class = "project_list_item">
            <div class="table-item project_name bold">{{project.project_name}}</div>
            <div class="table-item project_desc">{{project.project_desc}}</div>
            <div class="table-item created_date">{{project.created_date.$date | timePipe}}</div>
            <div class=" table-item project_author">{{project.users}}</div>
            <div class=" table-item project_tags">
                <div class="proj_tag" *ngFor="let proj_tag of project.project_properties.tag_list">{{proj_tag}}</div>
            </div>
            <div class="table-item project_icons"> 
                <img class = "row_icon" src="/mltoolkit/assets/bin.svg" (click)="deleteProject('project_'+i, project)"/> 
            </div>
            <div class="table-item project_icons"> 
                <img class = "row_icon" src="/mltoolkit/assets/copy.svg" (click)="duplicateProject('project_'+i, project)"/> 
            </div>
        </div>
        </div>
        </div>
    </div>
    <app-global-footer></app-global-footer>
</div>
<app-new-project-box (closeBoxEmit)="showNewProjectBox=false;getProjects();" id="new_project_box" *ngIf="showNewProjectBox"></app-new-project-box>
<app-open-project (closeBoxEmit)="openProjectBox=false;" id="new_project_box" *ngIf="openProjectBox"></app-open-project>
