<div id="tool_{{tool}}" class="blockelem create-flowy noselect">
    <input id="tool_{{tool}}" type="hidden" name='blockelemtype' class="blockelemtype" value="4">
    <div id="tool_{{tool}}" class = "tool_header"></div>
    <div id="tool_{{tool}}" class="grabme">
        <img id="tool_{{tool}}" src="assets/grabme.svg">
    </div>
    <div id="tool_{{tool}}" class="blockin">
        <div id="tool_{{tool}}" class="blockico">
            <span></span>
            <img id="tool_{{tool}}" src="assets/tool_{{tool}}.svg">
        </div>
        <div id="tool_{{tool}}" class="blocktext">
            <p id="tool_{{tool}}" class="blocktitle">{{title}}</p>
            <p id="tool_{{tool}}" class="blockdesc">{{description}}</p>
        </div>
    </div>
    <div id="tool_{{tool}}" class = "tool_footer"></div>
</div>