<div class="blockelem create-flowy noselect">
    <input type="hidden" name='blockelemtype' class="blockelemtype" value="4">
    <div class="grabme">
        <img src="assets/grabme.svg">
    </div>
    <div class="blockin">
        <div class="blockico">
            <span></span>
            <img src="assets/{{tool}}.svg">
        </div>
        <div class="blocktext">
            <p class="blocktitle">{{title}}</p>
            <p class="blockdesc">{{description}}</p>
        </div>
    </div>
</div>
