<div id="{{tool}}" class="blockelem create-flowy noselect">
    <input id="{{tool}}" type="hidden" name='blockelemtype' class="blockelemtype" value="4">
    <div id="{{tool}}" class="grabme">
        <img id="{{tool}}" src="assets/grabme.svg">
    </div>
    <div id="{{tool}}" class="blockin">
        <div id="{{tool}}" class="blockico">
            <span></span>
            <img id="{{tool}}" src="assets/{{tool}}.svg">
        </div>
        <div id="{{tool}}" class="blocktext">
            <p id="{{tool}}" class="blocktitle">{{title}}</p>
            <p id="{{tool}}" class="blockdesc">{{description}}</p>
        </div>
    </div>
</div>