.footer{
    z-index: 1000;
    position: absolute;
    bottom: 0;
    left: 0;
    width: -webkit-fill-available;
    padding: 1%;
    background-color: white;
    font-family: Roboto;
    color: #8c8c8c;
    border-top: 1px solid #e2e2e2;
}

a{
    font-family: Roboto;
    text-decoration: none;
    color: #8c8c8c;
}

a:hover{
    font-family: Roboto;
    text-decoration: none;
    color: #545454;
}

.left{
    display: inline-block;
    float: left;
}

.right{
    display: inline-block;
    float: right;
}